# Server Configuration
PORT=8080

# TLS/SSL Configuration
NODE_TLS_REJECT_UNAUTHORIZED=0

# Mock mode (set to 'true' to return mock data instead of calling Dynatrace)
USE_MOCK=false

# Dynatrace Non-Prod
DYNATRACE_NONPROD_API_URL=dynatrace_nonprod_api_url_here
DYNATRACE_NONPROD_TOKEN=your-platform-token-here

# Dynatrace Pre-Prod
DYNATRACE_PREP_API_URL=dynatrace_prep_api_url_here
DYNATRACE_PREP_TOKEN=your-platform-token-here

# Dynatrace Prod
DYNATRACE_PROD_API_URL=dynatrace_prod_api_url_here
DYNATRACE_PROD_TOKEN=your-platform-token-here
